version: "3.9"

services:
  landing:
    build:
      context: .
      target: development
    container_name: landing_dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
