services:
  landing:
    build:
      context: .
      target: runner  # Changed from 'development' to 'runner'
    container_name: landing_001k
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped